.header {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
    
    
    &__logo-link {
        display: block;
        margin-right: 30px;
    }
    
    .nav {
        display: flex;
        list-style-type: none;
        
        &__item {
            margin-left: 10px;
            margin-right: 10px;
        }
        
        &__link {
            text-decoration: none;
            font-family: "Montserrat";
            font-size: 14px;
            font-weight: 700;
            line-height: 17px; 
            text-transform: uppercase;
            color: #000000;

            &:hover {
                color: #2647da;
            }
        }
        
    }

    &__lang {
        margin-left: 220px;
        margin-right: 8px;
      
    }

    &__button {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        padding: 0;
    }
}
